<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/28e46729-f06d-47cf-86d7-a626c6ada14c/resourcegroups/FinalChallengeCSharpResourceGroup/providers/Microsoft.Web/sites/FinalChallengeCSharp</ResourceId>
    <ResourceGroup>FinalChallengeCSharpResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://finalchallengecsharp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5cb69686-234f-48d9-9e41-2aedf7772d80</ProjectGuid>
    <PublishUrl>https://finalchallengecsharp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FinalChallengeCSharp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>